@font-face {
  font-family: "Archia";
  src: url("fonts/Archia/archia-thin-webfont.eot");
  src: url("fonts/Archia/archia-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Archia/archia-thin-webfont.woff2") format("woff2"),
    url("fonts/Archia/archia-thin-webfont.woff") format("woff"),
    url("fonts/Archia/archia-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("fonts/Archia/archia-light-webfont.eot");
  src: url("fonts/Archia/archia-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Archia/archia-light-webfont.woff2") format("woff2"),
    url("fonts/Archia/archia-light-webfont.woff") format("woff"),
    url("fonts/Archia/archia-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("fonts/Archia/archia-regular-webfont.eot");
  src: url("fonts/Archia/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Archia/archia-regular-webfont.woff2") format("woff2"),
    url("fonts/Archia/archia-regular-webfont.woff") format("woff"),
    url("fonts/Archia/archia-regular-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("fonts/Archia/archia-medium-webfont.eot");
  src: url("fonts/Archia/archia-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Archia/archia-medium-webfont.woff2") format("woff2"),
    url("fonts/Archia/archia-medium-webfont.woff") format("woff"),
    url("fonts/Archia/archia-medium-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("fonts/Archia/archia-semibold-webfont.eot");
  src: url("fonts/Archia/archia-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Archia/archia-semibold-webfont.woff2") format("woff2"),
    url("fonts/Archia/archia-semibold-webfont.woff") format("woff"),
    url("fonts/Archia/archia-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("fonts/Archia/archia-bold-webfont.eot");
  src: url("fonts/Archia/archia-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Archia/archia-bold-webfont.woff2") format("woff2"),
    url("fonts/Archia/archia-bold-webfont.woff") format("woff"),
    url("fonts/Archia/archia-bold-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

// NAVBAR
.navbar {
  background: transparent !important;
  box-shadow: none !important;
  margin-bottom: 50px;

  .navlink {
    font-family: "Archia";
    color: #201d1db2;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    &:hover {
      color: #fff;
    }
    &:hover::before {
      transform: translateY(0);
      transition: transform 0.25s ease-out;
    }
  }

  .icon {
    height: 80px;
    width: 120px;
    fill: #201d1db2;
    transition: all 0.5s ease-out;
    &:hover {
      fill: #fff;
    }
    &:hover::before {
      transform: translateY(0);
      transition: transform 0.25s ease-out;
    }
  }
}

.center {
  align-content: center;
}

// LANDING PAGE
.landing-content {
  padding-top: 80px;
  padding-left: 40px;
  min-height: 74vh;
  font-family: "Archia";
  color: #201d1db2;
  .header {
    font-size: 4rem;

    .first {
      animation-name: fadeInDown;
      animation-duration: 0.45s;
      animation-delay: 1s;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }

    .second {
      animation-name: fadeInDown;
      animation-duration: 0.45s;
      animation-delay: 2.2s;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
  }

  .image {
    height: 37vmin;
    border-radius: 50% !important;
    margin-bottom: 50px;
    border: 1vh solid #8f97a3b7;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
  }
}

// PROJECTS PAGE
.projects-page {
  color: #000000;
  font-size: 1.8rem !important;
  animation-name: fadeInUp;
  animation-duration: 0.55s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  .list {
    padding-top: 80px;
    padding-left: 40px;
  }
  .image {
    border-radius: 1% !important;
    margin-top: 20px;
  }
}

// SKILLS PAGE
.skills-page {
  font-family: "Archia";
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  animation-name: fadeInUp;
  animation-duration: 0.75s;
  animation-delay: 0.8s;
  opacity: 0;
  animation-fill-mode: forwards;

  .caption {
    position: absolute;
    top: 98%;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .card {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    align-items: center;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
  }

  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
}

/*
  Animation Scripts...
*/

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
